<!DOCTYPE html>
<html>
    <head>
        <title>Sean's Blog</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
       <link rel="stylesheet" href="/stylesheets/app.css"></link
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="beer icon"></i> Blog Site</div>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
            
        </div>
        